<div class="ficha-paciente" *ngIf="paciente && !cargando">
  <!-- Encabezado -->
  <header class="ficha-header">
    <div class="info-header">
      <h1>
        {{ paciente.nombre.primer_nombre }} {{ paciente.nombre.segundo_nombre }}
        {{ paciente.nombre.otro_nombre }}
      </h1>
      <p class="subtitulo">
        {{ paciente.nombre.primer_apellido }}
        {{ paciente.nombre.segundo_apellido }}
        {{ paciente.nombre.apellido_casada }}
      </p>
    </div>

    <button class="btn-volver" (click)="regresar()">
      <span [innerHTML]="regresarIcon"></span> Regresar
    </button>
  </header>

  <div></div>
  <p class="estado_" [ngClass]="paciente.estado === 'V' ? 'vivo' : 'fallecido'">
    <span
      class="icon"
      [innerHTML]="paciente.estado === 'V' ? heartIcon : ghostIcon"
    ></span>
    {{ estadoPaciente }}
  </p>
  <!-- Identificación -->
  <section class="section section-cv">
    <h2>🆔 Identificación</h2>

    <div class="cv-row">
      <span class="cv-label">CUI</span>
      <span class="cv-value">{{ paciente.cui | cui }}</span>
    </div>

    <div class="cv-row">
      <span class="cv-label">Expediente</span>
      <span class="cv-value">
        {{ paciente.expediente || "Sin expediente" }}
      </span>
    </div>

    <div class="cv-row">
      <span class="cv-label">Pasaporte</span>
      <span class="cv-value">
        {{ paciente.pasaporte || "No aplica" }}
      </span>
    </div>

    <div class="cv-row">
      <span class="cv-label">Otro Id</span>
      <span class="cv-value">
        {{ paciente.datos_extra?.personaid }}
      </span>
    </div>
  </section>

  <!-- Información personal -->
  <section class="section section-cv">
    <h2>🧬 Datos Vitales</h2>

    <div class="cv-row">
      <span class="cv-label">Sexo</span>
      <span class="cv-value">
        {{ paciente.sexo?.trim() === "M" ? "Masculino" : "Femenino" }}
      </span>
    </div>

    <div class="cv-row">
      <span class="cv-label">Fecha de nacimiento</span>
      <span class="cv-value">
        {{ paciente.fecha_nacimiento | date : "dd/MM/yyyy" }}
      </span>
    </div>

    <div class="cv-row">
      <span class="cv-label">Edad</span>
      <span class="cv-value">
        {{ paciente.fecha_nacimiento | edad }}
      </span>
    </div>
    @if (fechaDefuncion){
    <div class="cv-row">
      <span class="cv-label">Fecha de defunción</span>
      <span class="cv-value">
        {{ formatearFecha(fechaDefuncion) }}
      </span>
    </div>

    }
  </section>

  <!-- Contacto -->
  <section class="section section-cv">
    <h2>📞 Información de Contacto</h2>
    @if (paciente.contacto?.domicilio){
    <div class="cv-row">
      <span class="cv-label">Domicilio</span>
      <span class="cv-value">{{
        paciente.contacto?.domicilio | titlecase
      }}</span>
    </div>
    } @if (paciente.contacto?.municipio) {
    <div class="cv-row">
      <span class="cv-label">Municipio</span>
      <span class="cv-value">
        {{ paciente.contacto?.municipio | datosExtra : "municipio" }}
      </span>
    </div>
    } @if (paciente.contacto?.telefonos) {
    <div class="cv-row">
      <span class="cv-label">Teléfonos</span>
      <span class="cv-value">{{ paciente.contacto?.telefonos }}</span>
    </div>
    }
  </section>

  <!-- Referencias -->
  @if (tieneReferencias) {
  <section class="section section-cv">
    <h2>👥 Referencias</h2>

    <div
      class="cv-reference"
      *ngFor="let ref of paciente.referencias; let i = index"
    >
      <strong>Referencia {{ i + 1 }}</strong
      ><br />
      {{ ref.nombre | titlecase }} — {{ ref.parentesco | titlecase }} —
      {{ ref.telefonos || "Sin teléfono" }} - {{ ref.expediente }} -
      {{ ref.idpersona }} @if (ref.responsable === true) { Responsable}
    </div>
  </section>
  } @if (demograficosFiltrados.length > 0) {
  <!-- Datos Demográficos -->
  <section class="section section-cv">
    <h2>🌍 Datos Demográficos</h2>

    <div class="cv-row" *ngFor="let dato of demograficosFiltrados">
      <span class="cv-label">
        {{ convertirClave(dato.key) }}
      </span>
      <span class="cv-value">
        {{ dato.valor | datosExtra : dato.key }}
      </span>
    </div>
  </section>
  } @if (socioeconomicosFiltrados.length > 0) {
  <!-- Datos Socioeconómicos -->
  <section class="section section-cv">
    <h2>💼 Datos Socioeconómicos</h2>

    <div class="cv-row" *ngFor="let dato of socioeconomicosFiltrados">
      <span class="cv-label">
        {{ convertirClave(dato.key) }}
      </span>
      <span class="cv-value">
        {{ dato.valor | datosExtra : dato.key }}
      </span>
    </div>
  </section>
  } @if (neonatalesFiltrados.length > 0) {
  <section class="section section-cv">
    <h2>👶 Datos Neonatales</h2>

    <div class="cv-row" *ngFor="let dato of neonatalesFiltrados">
      <span class="cv-label">{{ convertirClave(dato.key) }}</span>
      <span class="cv-value">{{ dato.valor }}</span>
    </div>
  </section>
  } @if (metadatosArray.length > 0) {
  <!-- Metadatos / Historial -->
  <section class="section section-cv">
    <h2>📌 Información del Sistema</h2>

    <div class="cv-row" *ngFor="let meta of metadatosArray">
      <span class="cv-label">
        {{ convertirClave(meta.key) }}
      </span>
      <span class="cv-value text-uppercase">
        {{ meta.valor }}
      </span>
    </div>
  </section>
  } @if (cargando) {
  <!-- Estado de carga -->
  <div class="loading">
    <p>Cargando información del paciente...</p>
  </div>

  } @if (error && !cargando) {
  <div class="error">
    <p>{{ error }}</p>
    <button (click)="regresar()">Regresar</button>
  </div>
  }
  <!-- Error -->
</div>
