<div class="container-fluid py-3 aurora-paciente-container" [class.d-none]="modalActivo">

  <!-- Botones superiores -->
  <div class="mb-3 text-start align-items-center gap-2 d-flex flex-wrap ">
    <button type="button" class="btn btn-outline-primary d-flex bg-light-opacity" (click)="volver()">
      <span [innerHTML]="icons['paw']" class="text-blue-emphasis"></span>
      <div>
        <p class="mb-0 fw-bold">Menu</p>
        <small class="text-muted">Presiona para ir al Menú</small>
      </div>
    </button>

    <button type="button" class="btn btn-outline-primary d-flex justify-content-center align-items-center"
            (click)="toggleFiltrar()">
             <span [innerHTML]="icons['find']" [ngClass]="{ 'text-blue-emphasis': filtrar, 'text-white': !filtrar }"></span>
             <div><p class="mb-0 fw-bold">Filtrar</p></div>
    </button>
  </div>

  <!-- Contenedor de Búsqueda -->
  <div class="mb-4" [ngClass]="{ 'd-none': !filtrar || modalActivo }">
    <form class="row g-2 align-items-end aurora-form" (submit)="buscar(); $event.preventDefault()">

      <!-- Campos -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <label class="form-label">Identificador</label>
        <input type="text" class="form-control aurora-input"
               [(ngModel)]="filtros.identificador" name="identificador" placeholder="Buscar por identificador">
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <label class="form-label">Nombre completo</label>
        <input type="text" class="form-control aurora-input"
               [(ngModel)]="filtros.nombre_completo" name="nombreCompleto" placeholder="Buscar por nombre completo">
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <label class="form-label">Primer nombre</label>
        <input type="text" class="form-control aurora-input"
               [(ngModel)]="filtros.primer_nombre" name="primerNombre" placeholder="Buscar por nombre">
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <label class="form-label">Primer apellido</label>
        <input type="text" class="form-control aurora-input"
               [(ngModel)]="filtros.primer_apellido" name="primerApellido" placeholder="Buscar por apellido">
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <label class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control aurora-input"
               [(ngModel)]="filtros.fecha_nacimiento" name="fechaNacimiento">
      </div>

      <!-- Botones -->
      <div class="col-12 mt-3 d-flex flex-wrap gap-2">
        <button type="submit" class="btn btn-primary aurora-btn">
          <span [innerHTML]="icons['search']"></span> Buscar
        </button>
        <button type="button" class="btn btn-outline-secondary aurora-btn" (click)="limpiarFiltros()">
          <span [innerHTML]="icons['delete']"></span> Limpiar
        </button>
        <button type="button" class="btn btn-success aurora-btn" (click)="agregar()">
          <span [innerHTML]="icons['create']"></span> Agregar
        </button>
      </div>
    </form>
  </div>

  <!-- Tabla principal (desktop) -->
  <div class="aurora-container">
    <table class="aurora-tb" >
      <thead >
        <tr>
          <th>Identificador</th>
          <th>Nombre Completo</th>
          <th>Fecha Nacimiento</th>
          <th *ngIf="!existePaciente">Dirección</th>
          <th>Género</th>
          <th *ngIf="!existePaciente">Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes" >
            <td>
              <div *ngIf="paciente?.cui"><strong>CUI:</strong> {{ paciente.cui }}</div>
              <div *ngIf="paciente?.expediente"><strong>Expediente:</strong> {{ paciente.expediente }}</div>
              <div *ngIf="paciente?.pasaporte"><strong>Pasaporte:</strong> {{ paciente.pasaporte }}</div>
              <div *ngIf="paciente?.otro"><strong>Otro:</strong> {{ paciente.otro }}</div>
            </td>
            <td >
              <p class="p-0 m-0 text-uppercase">
                {{ paciente.nombre.primer_nombre }}
                {{ paciente.nombre.segundo_nombre }}
                {{ paciente.nombre.otro_nombre }}
              </p>
              <p class="p-0 m-0 text-uppercase"
                [ngClass]="paciente.sexo === 'M' ? 'hombre' : 'mujer'">
                {{ paciente.nombre.primer_apellido }}
                {{ paciente.nombre.segundo_apellido }}
                {{ paciente.nombre.apellido_casada }}
              </p>
            </td>
            <td class="secundario">
              {{ paciente.fecha_nacimiento | date:'dd/MM/yyyy' }}
              <br>
              <small >{{ paciente.fecha_nacimiento | edad }}</small>
            </td>
            <td class="secundario">{{ paciente.contacto?.localidad }} {{ paciente.contacto?.municipio | datosExtra: 'vecindad'  }}</td>
            <td class="secundario">
              <div *ngIf="paciente.sexo === 'M'">
                <span [innerHTML]="icons['man']"></span> Masculino
              </div>
              <div *ngIf="paciente.sexo === 'F'">
                <span [innerHTML]="icons['woman']"></span> Femenino
              </div>
            </td>
            <td class="secundario">
              <div *ngIf="paciente.estado === 'V'">
                <span [innerHTML]="icons['heart']"></span> Vivo
              </div>
              <div *ngIf="paciente.estado === 'F'">
                <span [innerHTML]="icons['ghost']"></span> Fallecido
              </div>
            </td>
            <td class="secundario">
              <div class="d-flex gap-1" >
                <button  (click)="editarPaciente(paciente.id)">
                  <span [innerHTML]="icons['edit']"></span>
                </button>
                <button  >
                  <span [innerHTML]="icons['medical']"></span>
                </button>
                <button  (click)="verDetallesPaciente(paciente.id)">
                  <span [innerHTML]="icons['tabla']"></span>
                </button>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>



  <!-- Modal detalle -->
  <div class="modal fade show d-block" *ngIf="mostrarDetallePaciente" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle del Paciente</h5>
          <button type="button" class="btn-close" (click)="cerrarDetallePaciente()"></button>
        </div>
        <div class="modal-body">
          <detallePaciente [pacienteId]="pacienteSeleccionadoId"></detallePaciente>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" (click)="cerrarDetallePaciente()"></div>
  </div>
</div>
