<div class="botones no-imprimir">
  <button (click)="regresar()" [disabled]="isLoading()">Cancelar ❌</button>
  <button (click)="imprimir()" [disabled]="isLoading()">Imprimir 🖨️</button>
</div>

<div *ngIf="error()" class="alert alert-danger no-imprimir">{{ error() }}</div>
<div *ngIf="isLoading()" class="alert alert-info no-imprimir">
  Cargando información...
</div>

<div class="print-wrapper" *ngIf="detalleVisible() && constancia() as c">
  <app-cnacimiento-informe
    *ngIf="!esAuxiliar()"
    [constancia]="c"
    [medico]="medico()"
  />
  <app-cnacimiento-informe-auxiliar
    *ngIf="esAuxiliar()"
    [constancia]="c"
    [medico]="medico()"
  />
</div>
