<div class="container-fluid p-0 bg-landing">

  <!-- Header / Navbar -->
  <header class="navbar navbar-expand-lg bg-info shadow-sm aurora-navbar sticky-top">
    <div class="navbar-brand d-flex align-items-center">
      <span [innerHTML]="logoicon" ></span>
      <span class="medicalapp">MedicalApp</span>
    </div>

    <button class="navbar-toggler border-0 shadow-none text-white" type="button"
            data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navMenu">
      <ul class="navbar-nav gap-3">
        <li class="nav-item"><a class="nav-link text-white fw-semibold" href="#">Inicio</a></li>
        <li class="nav-item"><a class="nav-link text-white-50 fw-semibold" href="#">Servicios</a></li>
        <li class="nav-item"><a class="nav-link text-white-50 fw-semibold" href="#">Créditos</a></li>
      </ul>
    </div>
  </header>

  <!-- Hero Section -->
  <section class="row g-0 align-items-center py-4 px-3 px-md-5">

    <!-- Texto -->
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <div class="p-4 rounded-4 shadow-lg backdrop-blur bg-dark">
        <h1 class="display-4 fw-bold mb-3 text-white">
          Bienvenido a <span class="text-warning">MedicalApp</span>
        </h1>
        <p class="lead text-white-50 mb-4">
          Gestiona pacientes y expedientes electrónicos con rapidez y seguridad.
        </p>
        <button class="btn btn-gradient btn-lg rounded-pill px-4" (click)="open()">Iniciar Sesión</button>
      </div>
    </div>

    <!-- SVG -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div class="w-30" >
        <div class="img-fluid" [innerHTML]="svgHome"></div>
      </div>
    </div>
  </section>
</div>


<!-- Modal Login -->
<div class="aurora-modal fade show d-block"
       *ngIf="visible()"
       tabindex="-1"
       style="background-color: rgba(0, 0, 0, 0.6); backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4 rounded-4 shadow-lg">
        <button type="button"
                class="btn-close position-absolute top-0 end-0 m-3"
                (click)="close()"></button>
        <app-login></app-login>
      </div>
    </div>
  </div>
