<nav class="navbar navbar-expand-lg navbar-dark shadow-sm aurora-navbar sticky-top">
  <div class="container">
    <!-- Logo + Marca -->
    <a class="navbar-brand d-flex align-items-center" role="button" (click)="menu()">
      <i class="bi bi-hospital fs-4"></i>
       <span [innerHTML]="logoicon"></span>
      <span class="medicalapp">MedicalApp</span>

    </a>

    <div class="title">
       <span class="institucion-title">Ministerio de Salud y Asistencia Social</span>
       <br>
       <span class="institucion-subtitle">Hospital General Tipo I
        de Tecpán Guatemala</span>
    </div>



    <!-- Contenido colapsable -->
    <div class=" justify-content-end" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-3">
        <li class="nav-item">
          <span class="navbar-text">
            <span class="text-bold text-dark"> {{ usuario }} </span>
            <span class="text-muted bg-dark rounded p-1"> [ {{ rol }} ] </span>
          </span>
        </li>
        <li class="nav-item">
        <div class="collapse navbar-collapse" id="navbarNav">  <button class="btn btn-outline-danger btn-sm d-flex align-items-center gap-1" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> Salir
          </button></div>

        </li>
      </ul>
    </div>
  </div>
</nav>
