body {
  background-color: #e5e5e0;
  font-family: 'Segoe UI', sans-serif;
  color: #2f2f2f;
  line-height: 1.5;
}

.formulario-paciente {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: #d5d4dc;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.formulario-paciente h2 {
  text-align: center;
  color: #3f4b44;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

fieldset {
  border: 1px solid #b8b8b2;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background-color: #f0f0f3;
}

legend {
  font-weight: 600;
  color: #3f4b44;
  padding: 0 0.5rem;
  font-size: 1rem;
}

input,
select {
  display: block;
  width: 97%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: 1px solid #b8b8b2;
  border-radius: 6px;
  background-color: #0919384c;
  color: #091047;
  font-size: 0.95rem;
}

label {
  color: #171443;
  font-weight: 600;
  font-size: larger;
}

input:focus,
select:focus {
  border-color: #6c6d85;
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 133, 115, 0.25);
}

button {
  background-color: #6c6f85;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #171443;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.botones button {
  flex: 1;
  margin: 0 0.5rem;
}

@media (max-width: 600px) {
  .formulario-paciente {
    padding: 1rem;
  }

  .botones {
    flex-direction: column;
  }

  .botones button {
    margin: 0.5rem 0;
  }

  input, select {
    width: 95%;
  }
}

.input-error-msg {
  color: #b30000;
  font-size: 0.95rem;
  margin-top: 0.3rem;

}

.historial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
  list-style:none;
  padding: 0;
  margin: 0.4rem;
  font-size: small;
}

.historial-grid li {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  text-align: center;
}


