

form {
  /* background-color: var(--rich-black); */
  font-family: 'Segoe UI', sans-serif;
  color: var(--white);
  line-height: 1.5;
}

.formulario-paciente {
  max-width: 900px;
  margin: 0.8rem auto;
  padding: 2rem;
  background: var(--prussian-blue);
  color: var(--white) !important; ;
  border-radius: 42px;
  box-shadow: 0 2px 8px rgba(0, 168, 232, 0.2);
   backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}



.formulario-paciente h2 {
  text-align: center;
  color: var(--picton-blue);
  margin:0;
  font-weight: 600;
}

fieldset {
   border: 1px solid rgba(255, 254, 254, 0.1);
  padding: 1.2rem;
  margin-bottom: 0.6rem;
  border-radius: 38px;
  background-color: rgba(182, 215, 227, 0.159); /* azul claro translúcido */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* para Safari */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.334);
}

legend {
  font-weight: 600;
  color: var(--white);
  padding: 0 0.5rem;
  font-size: 1rem;
}

input,
select {
  display: block;
  width: 97%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: 1px solid var(--cerulean);
  border-radius: 16px;
  background-color: rgba(143, 179, 190, 0.268);
  color: var(--white) ;
  font-size: 0.95rem;
  text-transform: uppercase;
  z-index: 1;
}

input::placeholder {
  color: var(--white);
  padding-left: 3.5rem ;
  text-transform: capitalize;
}

label {
  color: var(--picton-blue);
  font-weight: 600;
  font-size: larger;
}

input:focus,
select:focus {
  border-color: var(--picton-blue);
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 168, 232, 0.4);
}

button {
  background-color: var(--cerulean);
  color: var(--white);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 16px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--picton-blue);
}
.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.botones button {
  flex: 1;
  margin: 0 0.5rem;
}

@media (max-width: 600px) {
  .formulario-paciente {
    padding: 1rem;
  }

  .botones {
    flex-direction: column;
  }

  .botones button {
    margin: 0.5rem 0;
  }

  input, select {
    width: 95%;
  }
}

.input-error-msg {
  color: #ff4d4d;
  font-size: 0.95rem;
  margin-top: 0.3rem;
}

.historial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
  list-style: none;
  padding: 0;
  margin: 0.4rem;
  font-size: small;
}

.historial-grid li {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--cerulean);
  border-radius: 0.75rem;
  text-align: center;
  color: var(--white);
}

.input-buton {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.btn-input {
  height: 40px;
  padding: 1px;
  margin: 1px;
  margin-top: 0.5rem;
}

.edad-manual,
.edad-inputs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
