.formulario-moderno {
  margin: 1.5rem auto;
  padding: 2rem;
  background: #01031820;
  font-family: 'Segoe UI', sans-serif;
  color: var(--white);
  border-radius: 42px;
  box-shadow: 0 4px 16px rgba(0, 168, 232, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; /* separación entre fieldsets */
}

.formulario-moderno:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 168, 232, 0.35);
}

.formulario-moderno h2 {
  text-align: center;
  color: #4ccaf0; /* picton blue */
  margin: 0 0 1.5rem 0;
  font-weight: 600;
  font-size: 1.8rem;
}

.formulario-moderno fieldset {
  border: 1px solid rgba(255, 254, 254, 0.1);
  padding: 1.2rem;
  margin-bottom: 0.8rem;
  border-radius: 12px;
  /* background-color: rgba(182, 215, 227, 0.15); */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px #4ccaf07b;
  color: #ffffff !important;
  flex-grow: 1;
  flex-basis: clamp(250px, 50%, 370px);
}

.formulario-moderno fieldset:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
}

.formulario-moderno legend {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 800;
  color: white;
  text-align: center;
  border-bottom: #ffffff 1px solid;
  margin-top: 2px;
  padding-top: 2px;
  text-transform: capitalize;
  letter-spacing: 3px;
  line-height: 1.1rem;
  background: sandybrown;
  border-radius: 6px;
}


/* Estilos base */
.formulario-moderno input, select {
  width: 100%;
  padding: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.35) !important;
  color: #c3e5f7;
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
}

/* Cuando el placeholder está visible (campo vacío) */
.formulario-moderno input:-moz-placeholder {
  background: rgba(0, 0, 0, 0.35) !important;
  color: #4994f5d7 !important;
  font-weight: normal;
}
.formulario-moderno input:placeholder-shown,
.formulario-moderno select:has(option[value=""]:checked) {
  background: rgba(0, 0, 0, 0.35) !important;
  color: #4994f5d7!important;
  font-weight: normal;
}

/* Color del texto del placeholder */
.formulario-moderno input:placeholder-shown::-moz-placeholder {
  color: #4994f5d7 !important;
  opacity: 1; /* necesario en algunos navegadores */
}
.formulario-moderno input:-moz-placeholder::placeholder {
  color: #4994f5d7 !important;
  opacity: 1; /* necesario en algunos navegadores */
}
.formulario-moderno input:placeholder-shown::placeholder {
  color: #4994f5d7 !important;
  opacity: 1; /* necesario en algunos navegadores */
}

/* Cuando el campo ya tiene valor */
/* .formulario-moderno input:not(:-moz-placeholder) {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff !important;
  font-weight: 600;
} */
/* .formulario-moderno input:not(:placeholder-shown),
.formulario-moderno select:not(:has(option[value=""]:checked)) {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff !important;
  font-weight: 600;
} */

/* .formulario-moderno input.is-null,
.formulario-moderno select.is-null {
  background: rgba(0, 0, 0, 0.35) !important;
  color: #ffffff !important;

} */

/* Foco */
.formulario-moderno input:focus, select:focus {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px #4ccaf0;
  color: #ffffff !important;
}

.formulario-moderno label {
  line-height: normal;
  font-weight: 400;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  color: #c3e5f7;
  text-transform: capitalize;

}
