<div class="aurora-paciente-container" [class.d-none]="modalActivo">
  <!-- Botones superiores -->
  <div
    class="botones justify-content-between"
    [ngClass]="{ 'd-none': filtrar }"
  >
    <button type="button" (click)="volver()">
      <span [innerHTML]="icons['menu']"></span>
      Menu
    </button>

    <h1 class="text-white">Emergencias</h1>

    <button type="button" (click)="toggleFiltrar()">
      <span [innerHTML]="icons['find']"></span>
      Filtrar
    </button>
  </div>

  <!-- Contenedor de Búsqueda -->
  <div class="find-form" [ngClass]="{ 'd-none': !filtrar || modalActivo }">
    <form class="form-filtros" (submit)="buscar(); $event.preventDefault()">
      <!-- Campos -->
      <fieldset class="fieldset-filtros">
        <label class="label-filtros">Expediente</label>
        <input
          type="text"
          class="input-filtros"
          [(ngModel)]="filtros.expediente"
          name="expediente"
          placeholder="Buscar por expediente"
        />
      </fieldset>

      <fieldset class="fieldset-filtros">
        <label class="label-filtros">CUI</label>
        <input
          type="text"
          class="input-filtros"
          [(ngModel)]="filtros.cui"
          name="cui"
          placeholder="Buscar por CUI"
        />
      </fieldset>

      <fieldset class="fieldset-filtros nombre-fieldset">
        <label class="label-filtros">Primer nombre</label>
        <input
          type="text"
          class="input-filtros"
          [(ngModel)]="filtros.primer_nombre"
          name="primerNombre"
          placeholder="Buscar por nombre"
        />
      </fieldset>

      <fieldset class="fieldset-filtros">
        <label class="label-filtros">Segundo nombre</label>
        <input
          type="text"
          class="input-filtros"
          [(ngModel)]="filtros.segundo_nombre"
          name="segundoNombre"
          placeholder="Buscar por nombre"
        />
      </fieldset>

      <fieldset class="fieldset-filtros">
        <label class="label-filtros">Primer apellido</label>
        <input
          type="text"
          class="input-filtros"
          [(ngModel)]="filtros.primer_apellido"
          name="primerApellido"
          placeholder="Buscar por apellido"
        />
      </fieldset>

      <fieldset class="fieldset-filtros">
        <label class="label-filtros">Segundo apellido</label>
        <input
          type="text"
          class="input-filtros"
          [(ngModel)]="filtros.segundo_apellido"
          name="segundoApellido"
          placeholder="Buscar por apellido"
        />
      </fieldset>

      <fieldset class="fieldset-filtros">
        <label class="label-filtros">Fecha de consulta</label>
        <input
          type="date"
          class="input-filtros"
          [(ngModel)]="filtros.fecha"
          name="fechaConsulta"
        />
      </fieldset>

      <!-- <fieldset class="fieldset-filtros">
        <label class="label-filtros">Ciclo</label>

        <select
          name="ciclo"
          class="input-filtros"
          [(ngModel)]="filtros.ciclo"
          id="cilo"
        >
          <option *ngFor="let ciclo of ciclos" [value]="ciclo.value">
            {{ ciclo.label }}
          </option>
        </select>
      </fieldset> -->

      <!-- Botones -->
      <div class="botones-filtros">
        <button type="submit" class="button-filtros">
          <span [innerHTML]="icons['search']"></span> Buscar
        </button>
        <button type="button" (click)="limpiarFiltros()" class="button-filtros">
          <span [innerHTML]="icons['delete']"></span> Limpiar
        </button>
        <button type="button" (click)="agregar()" class="button-filtros">
          <span [innerHTML]="icons['create']"></span> Agregar
        </button>
      </div>
    </form>
    <div class="d-flex justify-content-center m-0 p-0">
      <button class="btn m-0 p-0" (click)="toggleFiltrar()">
        <span [innerHTML]="icons['arrowDown']"></span>
      </button>
    </div>
  </div>
  <!-- Tabla principal (desktop) -->
  <div class="aurora-container">
    <table class="aurora-tb">
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Nombre Completo</th>
          <th>Fecha Nacimiento</th>

          <th>Fecha</th>
          <th>Ciclo & Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of consultas"
          class="aurora-table-row"
          [class.touch-active]="rowActiva === data.id"
          (click)="activarFila(data.id)"
        >
          <td class="text-justify" data-label="Identificadores:">
            <div class="nombre-table">
              <div class="ms-4" *ngIf="data?.paciente?.cui">
                <strong>CUI:</strong>
                <small> {{ data.paciente.cui | cui }}</small>
              </div>
              <div *ngIf="data?.paciente?.pasaporte">
                <strong>Pasaporte:</strong> {{ data.paciente.pasaporte }}
              </div>
              <div *ngIf="data?.expediente">
                <strong>Expediente:</strong> {{ data.expediente }}
              </div>
              <div *ngIf="data?.documento">
                <strong>Hoja de Emergencia:</strong> {{ data.documento }}
              </div>
            </div>
          </td>
          <td data-label="Nombre:">
            <div class="nombre-table">
              <p>
                {{ data.paciente.nombre.primer_nombre }}
                {{ data.paciente.nombre.segundo_nombre }}
                {{ data.paciente.nombre.otro_nombre }}
              </p>
              <p
                class="p-0 m-0 text-uppercase"
                [ngClass]="data.paciente.sexo === 'M' ? 'hombre' : 'mujer'"
              >
                {{ data.paciente.nombre.primer_apellido }}
                {{ data.paciente.nombre.segundo_apellido }}
                {{ data.paciente.nombre.apellido_casada }}
              </p>
            </div>
          </td>
          <td class="oculto">
            {{ data.paciente.fecha_nacimiento | date: "dd/MM/yyyy" }}
            <br />
            @if (data.paciente.estado == "F") {
              <small>{{ data.paciente.defuncion | edad }}</small>
            }
            @if (data.paciente.estado == "V") {
              <small>{{ data.paciente.fecha_nacimiento | edad }}</small>
            }
          </td>

          <td class="oculto">
            <ng-container>
              {{ data.fecha_consulta | date: "dd/MM/yy" }}
            </ng-container>
            <br />
            <ng-container>
              {{ data.hora_consulta | time }}
            </ng-container>
          </td>
          <td class="oculto">
            <!-- <small>{{ estadoUltimoCiclo(data.ciclo) }}</small> -->
            <!-- <ng-container *ngIf="getCicloStatus(data.ciclo) === 'activo'">
                <span [innerHTML]="icons['activo']"></span>
              </ng-container>
              <ng-container *ngIf="getCicloStatus(data.ciclo) === 'inactivo'">
                <span [innerHTML]="icons['documento']"></span>
              </ng-container> -->
            {{ data.tipo_consulta | datosExtra: "tipo_consulta" }}
          </td>
          <td class="secundario">
            <div class="botones-opt">
              <button (click)="editar(data.id); $event.stopPropagation()">
                <span [innerHTML]="icons['edit']"></span>
              </button>
              <button (click)="verDetalle(data.id); $event.stopPropagation()">
                <span [innerHTML]="icons['tabla']"></span>
              </button>
              <button (click)="imprimir(data.id); $event.stopPropagation()">
                <span [innerHTML]="icons['print']"></span>
              </button>
            </div>
          </td>
        </tr>
        <!-- Sin resultados -->
        <tr *ngIf="!cargando && consultas.length === 0">
          <td colspan="5" class="text-center py-3">
            <em>No se encontraron coincidencias.</em>
          </td>
        </tr>

        <!-- Cargando -->
        <tr *ngIf="cargando">
          <td colspan="5" class="text-center py-3">
            <em>Cargando...</em>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- paginación -->
  <div class="d-flex justify-content-center align-items-center p-0">
    <!-- Botón anterior -->
    <button
      class="btn"
      [disabled]="filtros.skip === 0"
      (click)="cambiarPagina(-1)"
    >
      <span [innerHTML]="icons['skipLeft']"></span>
    </button>

    <!-- Página actual -->
    <div>
      <strong>{{ filtros.skip }}</strong>
    </div>

    <!-- Botón siguiente -->
    <button class="btn" [disabled]="finPagina" (click)="cambiarPagina(1)">
      <span [innerHTML]="icons['skipRight']"></span>
    </button>
  </div>
</div>
