
:root {
  /* Escala de blancos y grises */
  --white: #ffffff;
  --seasalt: #f8f9fa;
  --antiflash-white: #e9ecef;
  --platinum: #dee2e6;
  --french-gray: #ced4da;
  --french-gray-2: #adb5bd;
  --slate-gray: #7d8597;
  --paynes-gray: #5c677d;
  --outer-space: #495057;
  --onyx: #343a40;
  --eerie-black: #212529;

  /* Azules profundos y negros */
  --rich-black: #00111c;
  --rich-black-2: #001523;
  --rich-black-3: #001a2c;
  --prussian-blue: #002137;
  --prussian-blue-2: #00253e;
  --prussian-blue-3: #002945;
  --prussian-blue-4: #002e4e;
  --prussian-blue-5: #003356;
  --indigo-dye: #003a61;
  --indigo-dye-2: #00406c;
  --oxford-blue: #002855;
  --oxford-blue-2: #001845;
  --oxford-blue-3: #001233;
  --delft-blue: #33415c;
  --yale-blue: #023e7d;
  --sapphire: #0353a4;
  --true-blue: #0466c8;

  /* Azules claros y celestes */
  --picton-blue: #4ea8de;
  --aero: #48bfe3;
  --sky-blue: #8ecae6;
  --sky-blue-palid: #ccecf85c;
  --united-nations-blue: #5390d9;
  --cerulean: #007ea7;
  --persian-blue: #072ac8ff;

  /* Verdes y tonos turquesa */
  --celadon: #99e2b4;
  --celadon-2: #88d4ab;
  --mint: #78c6a3;
  --mint-2: #67b99a;
  --zomp: #56ab91;
  --zomp-2: #469d89;
  --viridian: #358f80;
  --pine-green: #248277;
  --skobeloff: #14746f;
  --caribbean-current: #036666;
  --blue-green: #219ebc;
  --tiffany-blue: #64dfdf;
  --turquoise: #72efdd;
  --aquamarine: #80ffdb;
  --mindaro: #d9ed92ff;
--light-green: #b5e48cff;
--light-green-2: #99d98cff;
--emerald: #76c893ff;
--keppel: #52b69aff;
--verdigris: #34a0a4ff;
--bondi-blue: #168aadff;
--bondi-blue-3: rgb(152, 203, 219);
--air-force-blue: #4891b2ff;
--air-superiority-blue: #6da7c1ff;
--cerulean: #1a759fff;
--lapis-lazuli: #1e6091ff;
--indigo-dye: #184e77ff;


  /* Tonos cálidos */
  --selective-yellow: #ffb703;
  --ut-orange: #fb8500;

  /* Tonos violeta */
  --french-violet: #7400b8;
  --grape: #6930c3;
  --slate-blue: #5e60ce;

  --rose: #f72585ff;
  --carnation-pink: #ffafccff;
--fandango: #b5179eff;
--grape: #7209b7ff;
--chrysler-blue: #560badff;
--dark-blue: #480ca8ff;
--zaffre: #3a0ca3ff;
--palatinate-blue: #3f37c9ff;
--neon-blue: #4361eeff;
--chefchaouen-blue: #4895efff;
--vivid-sky-blue: #4cc9f0ff;
}

:host {
  display: block;
  position: relative;
  z-index: 2;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



app-navbar,
router-outlet,
.main-content {
  position: relative;
  z-index: 100; /* encima del fondo */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  position: relative;
   background: radial-gradient(ellipse at bottom, #00d5ffc8 -15%, #090979 75%);
   backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;


}

.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  overflow: hidden;
  pointer-events: none; /* permite clics a través */
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  animation: twinkle 2s infinite ease-in-out;
  border-radius: 50%;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 2;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

/* Personalización individual */
.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 10s;
  animation-duration: 12s;

}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 5.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}

.star:nth-child(5) {
  top: 0;
  right: -1000px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.2s;
}

.layout-container {
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-content:flex-start;
  justify-content: center;
  align-items: stretch;
  padding: 0.6rem;
  position: relative;
  border-radius: 5px;
  z-index: 10;
}

.gap-1 {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  border-bottom: #f26411e0 dotted 0.05rem;
}

.custom-table-wrapper {
  width: 100dvw;
  padding: 0.2rem;
  border-radius: 12px;
  background-color: #ffffff50;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
  overflow-x: auto;
  border: 1px solid #3ae3d9;
  font-size: 0.95rem;
  margin: 0.5rem 0;
  z-index: 10;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  color: #09094e;
  table-layout: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.custom-table thead {
  background-color: #24283b;
  line-height: 1.1; /* Reduce altura */
  font-size: clamp(0.75rem, 2vw, 0.95rem); /* Ajuste fluido de tamaño de texto */

}

.custom-table th {
  padding: 0.5rem 0.3rem; /* Menos espacio */
  white-space: nowrap;    /* Evita salto de línea si no desea multirenglón */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}

.custom-table td {
  text-transform: uppercase;
  font-size: 0.70rem;
}

.custom-table th,
.custom-table td {
  padding: 0.1rem 0.1rem;
  text-align: center;
  word-wrap: break-word;
}

.custom-table th[data-header="id"] tr {
  transform: rotate(-90deg);

}

.custom-table th {
  color: #f2f2f2;
  font-weight: 600;
  background-color: #2f354d;
  transition: background-color 0.3s;
  cursor: pointer;
}

.custom-table th:hover {
  background-color: #3a405e;
  border-radius: 6px;
}

.custom-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.04);
  transition: background 0.3s;
  border-radius: 8px;

}

.id-rotar {
  transform: rotate(-90deg);
}

.f-small{
  font-size: 0.55rem !important;
}
.f-lowercase {
  text-transform:lowercase !important;
}

/* Botones con diseño elegante */
.custom-btn {
  background-color: #3ae3d9;
  color: #1b1e2b;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 20px;
  font-size: 0.85rem;
  margin: 0 0.3rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #23c9bf;
  color: #ffffff;
}

/* Mobile-first ajustes */
@media (max-width: 768px) {
  .custom-table-wrapper {
    padding: 0.75rem;
  }

  .custom-table th,
  .custom-table td {
    font-size: 0.65rem;
    padding: 0.1rem 0.1rem;
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .custom-btn {
    padding: 0.2rem 0.3rem;
    font-size: 0.75rem;
  }
}

.custom-table tbody tr:nth-child(even) {
  /* background-color: #8b8b8b0a; */
  color: var(--seasalt);
background-color: var(--rich-black-2);
}

.custom-table tbody tr:nth-child(odd) {
  /* background-color: #00000024; */
  color: var(--white);
background-color: var(--rich-black-3);
}

.custom-table tbody tr:hover {
  background-color: transparent;
  color: #ffffff;
  box-shadow: inset 0 0 0 9999px rgba(58, 227, 217, 0.05);
  transition: background-color 0.3s ease;
  cursor: pointer;
  filter: drop-shadow( 0px 2px 1px  #0c0c0c7d);
  strong {
    color: var(--eerie-black);
  }

}



.table-button {
  border-radius: 4px;
  margin: 0.1rem;
  padding: 0.2rem;
  font-size: x-small
}

.table-button svg {
  width: 1rem;
  height: 1rem;
}

/* Contenedor de búsqueda */
.search-container {
  width: 95dvw;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #673ab761;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
}

input::placeholder {
  color: var(--seasalt);
  text-transform:lowercase;
  font-size: 0.6rem;
}

/* Campos de entrada */
.search-input {

  font-size: 0.75rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
background-color: rgba(235, 228, 228, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.637);
  color: #fff;
  min-width: 110px;
  transition: all 0.2s ease;
}



.search-input:focus {
  border-color: #09f7c0;
  box-shadow: 0 0 4px rgba(9, 247, 192, 0.25);
  outline: none;
background-color: rgba(5, 0, 0, 0.573);
  font-size: 0.85rem;
}

/* Botones base */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  white-space: nowrap;
  min-width: 120px;
  transition: all 0.2s ease-in-out;
}

/* Icono en botón */
.btn span {
  margin-right: 0.4rem;
  display: inline-block;
}

/* Colores personalizados */
.btn-submit {
  background-color: #0b2932;
  color: #09f7c0;
}

.btn-submit:hover {
  background-color: #09f7c0;
  color: #0b2932;
  border: 1px solid #0b2932;
}

.btn-delete {
  background-color: #0b2932;
  color: #f4b857;
}

.btn-delete:hover {
  background-color: #f4b857;
  color: #0b2932;
  border: 1px solid #0b2932;
}

.btn-create {
  background-color: #0b2932;
  color: #85c0e0;
}

.btn-create:hover {
  background-color: #85c0e0;
  color: #0b2932;
  border: 1px solid #0b2932;
}

.btn-menu {
  visibility: visible;
  background-color: transparent;
  color: var(--white);
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  position: relative;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-menu svg,
.presiona {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 0.3s ease;
}

.btn-menu p {
  margin: 0;
  padding: 0;
}

/* Hover: mostrar SVG y texto alterno */
.btn-menu:hover svg {
  opacity: 1;
  display: block;
  visibility: visible;
  filter: drop-shadow(2px 2px 1px rgba(251, 246, 246, 0.348));
}

.btn-menu:hover .no-presiona {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.btn-menu:hover .presiona {
  opacity: 1;
  display: block;
  visibility: visible;
  font-size: 0.5rem;
}

.btn-menu:hover {
  display: flex;
  flex-direction: column; /* o 'row' si los quieres en fila */
  align-items: center;     /* centra horizontalmente */
  justify-content: center; /* centra verticalmente */
  text-align: center;
}

/* Responsividad extrema */
@media (max-width: 600px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input{
    padding: 0.25rem 0.1rem;
  }


  .search-input,
  .btn {
    width: 100%;
  }
}
/* Contenedores de botones */
.div-btn-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 4px;
  border-radius: 4px;
  width: 90dvw

}

.div-btn-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 4px;
  border-radius: 4px;
  width: auto;
  transform: scale(0.9);
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 50, 0.7);
  z-index: 1000;
}

.modal-outside {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* Si quieres oscurecer el fondo */
  z-index: 999;
}

.hidden {
  display: none !important;
}

.modal-detalle-paciente {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  border: 1px solid #e0e0e0;
}

.modal-content {
  background-color: #001f3f63; /* azul medianoche sólido */
  padding: 1rem;
  z-index: 1001;
  border-radius: 10px;
  width: 90dvw;
  max-height: 85dvh;
  overflow-y: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  position: relative;

  p {
    filter: drop-shadow( 0px 3px 2px  rgba(191, 1, 225, 0.921));
  }

}

/* Versión adaptativa para pantallas más grandes */
@media (min-width: 768px) {
  .modal-content {
    width: 60dvw;
  }
}

@media (min-width: 1024px) {
  .modal-content {
    width: 45dvw;
  }
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.close-modal:hover {
  color: #ff6666;
}

.img-shadow {
  filter: drop-shadow( 2px 2px 1px  rgba(0, 0, 0, 0.401));
}

/* Define la animación de pulso */
@keyframes pulse {
  0% { transform: scale(1); }
  14% { transform: scale(1.3); }
  28% { transform: scale(1); }
  42% { transform: scale(1.3); }
  70% { transform: scale(1); }
}

.beat {
  animation: pulse 1.45s infinite;
  filter: drop-shadow( 0px 6px 6px  #f20606f4) drop-shadow( 0px 2px 10px  #f3efef96);
}


.ghosteado{
  color: #fafafa6e;

}

.bg-ghost{
  opacity: none !important;
  /* color: var(--air-force-blue); */
  color: var(--seasalt);
  border-radius: 10px;
  animation: fog-move 10s linear infinite;
  filter: drop-shadow( 0px 6px 6px  #faf1f156) drop-shadow( 0px 2px 10px  #67676896);
}

tr:hover .bg-ghost {
  color: var(--white);
  filter: drop-shadow( 0px 6px 6px  #2b2b2b56) drop-shadow( 0px 2px 10px  #b1b1b296);
}

tr:hover .svg-icon {
  color: var(--white);
  filter: drop-shadow( 0px 6px 6px  #2b2b2b56) drop-shadow( 0px 2px 10px  #b1b1b296);
}

.svg-icon-on svg {
  color: var(--white);
  filter: drop-shadow( 0px 6px 6px  #2b2b2b56) drop-shadow( 0px 2px 10px  #b1b1b296);
}

.custom-table strong {
  color: var(--emerald);
  text-transform: capitalize !important;
}


/* Animación de la niebla */
@keyframes fog-move {
  0% {
    transform: translateX(-15%) translateY(-15%) scale(1.1);
  }
  50% {
    transform: translateX(15%) translateY(15%) scale(1.2);
  }
  100% {
    transform: translateX(-15%) translateY(-15%) scale(1.1);
  }
}

.m-p-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.hombre {
  color: var(--aero);
}

.mujer {
  color: var(--carnation-pink);
}


.heart-main {
  animation: pulse 1.45s infinite;
}

@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  25%, 75% { transform: scale(1.1); }
  50% { transform: scale(1.2); }
}

.decorative-line {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  opacity: 0.3;
  transition: opacity 0.3s ease-out;
}

.line-animation .decorative-line {
  animation:
    drawLine 3.4s ease-in-out infinite,
    pulseOpacity 3.5s ease-in-out infinite;
}

@keyframes drawLine {
  0%   { stroke-dashoffset: 400; }
  70%, 100% { stroke-dashoffset: 0; }
}

@keyframes pulseOpacity {
  0%, 100%   { opacity: 0.3; }
  25%, 75%   { opacity: 0.8; }
  50%        { opacity: 1; }
}




.formulario-moderno {
  max-width: 900px;
  margin: 0.8rem auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: var(--white);
  line-height: 1.5;


.formulario-moderno h2 {
  text-align: center;
  color: var(-vivid-sky-blue);
  margin: 0;
  font-weight: 600;
}

fieldset {
  padding: 1.2rem;
  margin-bottom: 0.6rem;
  border-radius: 1rem;
  /* background-color: var(--dark-blue); */
  border: 1px solid var(--neon-blue);
  box-shadow: 0 0 12px rgba(76, 201, 240, 0.2);
  color: var(--vivid-sky-blue);
}

legend {
  font-weight: 600;
  color: var(--mindaro);
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

input,
select {
  display: block;
  width: 97%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: none;
  box-shadow: var(--french-gray-2) 0 0 0 1px inset, var(--outer-space) 0 0 0 2px, var(--neon-blue) 0 0 0 4px inset;
  border-radius: 16px;
  background-color: var(--indigo-dye-2);
  color: var(--seasalt);
  font-size: 0.95rem;
  text-transform: uppercase;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--rose);
  background-color: var(--tiffany-blue);
  color: var(--rich-black);
}

input::placeholder {
  color: var(--vivid-sky-blue);
  padding-left: 3.5rem;
  text-transform: capitalize;
}

label {
  color: var(--aquamarine);
  font-weight: 600;
  font-size: 1rem;
}

button {
  background-color: var(--antiflash-white);
  color: var(--rich-black);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 16px;
  font-size: 0.95rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--bondi-blue);
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.botones button {
  flex: 1;
  margin: 0.5rem;

}

.ref-btn {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

button {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .btn-add {
  font-size: xx-small;
}

.btn-remove {
  font-size: xx-small;
}


}




@media (max-width: 600px) {
  .formulario-moderno {
    padding: 1rem;
  }

  .botones {
    flex-direction: column;
  }

  .botones button {
    margin: 0.5rem 0;
  }

  input,
  select {
    width: 95%;
  }
}

.input-error-msg {
  color: #ff4d4d;
  font-size: 0.95rem;
  margin-top: 0.3rem;
}

.historial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
  list-style: none;
  padding: 0;
  margin: 0.4rem;
  font-size: small;
}

.historial-grid li {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--chefchaouen-blue);
  border-radius: 0.75rem;
  text-align: center;
  color: var(--white);
}

.input-buton {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.btn-input {
  height: 40px;
  padding: 1px;
  margin: 1px;
  margin-top: 0.5rem;
}

.edad-manual,
.edad-inputs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}






}

