
:root {
  /* Escala de blancos y grises */
  --white: #ffffff;
  --seasalt: #f8f9fa;
  --antiflash-white: #e9ecef;
  --platinum: #dee2e6;
  --french-gray: #ced4da;
  --french-gray-2: #adb5bd;
  --slate-gray: #7d8597;
  --paynes-gray: #5c677d;
  --outer-space: #495057;
  --onyx: #343a40;
  --eerie-black: #212529;

  /* Azules profundos y negros */
  --rich-black: #00111c;
  --rich-black-2: #001523;
  --rich-black-3: #001a2c;
  --prussian-blue: #002137;
  --prussian-blue-2: #00253e;
  --prussian-blue-3: #002945;
  --prussian-blue-4: #002e4e;
  --prussian-blue-5: #003356;
  --indigo-dye: #003a61;
  --indigo-dye-2: #00406c;
  --oxford-blue: #002855;
  --oxford-blue-2: #001845;
  --oxford-blue-3: #001233;
  --delft-blue: #33415c;
  --yale-blue: #023e7d;
  --sapphire: #0353a4;
  --true-blue: #0466c8;

  /* Azules claros y celestes */
  --picton-blue: #4ea8de;
  --aero: #48bfe3;
  --sky-blue: #8ecae6;
  --sky-blue-palid: #ccecf85c;
  --united-nations-blue: #5390d9;
  --cerulean: #007ea7;
  --persian-blue: #072ac8ff;

  /* Verdes y tonos turquesa */
  --celadon: #99e2b4;
  --celadon-2: #88d4ab;
  --mint: #78c6a3;
  --mint-2: #67b99a;
  --zomp: #56ab91;
  --zomp-2: #469d89;
  --viridian: #358f80;
  --pine-green: #248277;
  --skobeloff: #14746f;
  --caribbean-current: #036666;
  --blue-green: #219ebc;
  --tiffany-blue: #64dfdf;
  --turquoise: #72efdd;
  --aquamarine: #80ffdb;
  --mindaro: #d9ed92ff;
--light-green: #b5e48cff;
--light-green-2: #99d98cff;
--emerald: #76c893ff;
--keppel: #52b69aff;
--verdigris: #34a0a4ff;
--bondi-blue: #168aadff;
--bondi-blue-3: rgb(152, 203, 219);
--air-force-blue: #4891b2ff;
--air-superiority-blue: #6da7c1ff;
--cerulean: #1a759fff;
--lapis-lazuli: #1e6091ff;
--indigo-dye: #184e77ff;

  /* Tonos cálidos */
  --selective-yellow: #ffb703;
  --ut-orange: #fb8500;

  /* Tonos violeta */
  --french-violet: #7400b8;
  --grape: #6930c3;
  --slate-blue: #5e60ce;

  --rose: #f72585ff;
--fandango: #b5179eff;
--grape: #7209b7ff;
--chrysler-blue: #560badff;
--dark-blue: #480ca8ff;
--zaffre: #3a0ca3ff;
--palatinate-blue: #3f37c9ff;
--neon-blue: #4361eeff;
--chefchaouen-blue: #4895efff;
--vivid-sky-blue: #4cc9f0ff;
}

:host {
  display: block;
  position: relative;
  z-index: 2;
}



app-navbar,
router-outlet,
.main-content {
  position: relative;
  z-index: 100; /* encima del fondo */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  position: relative;
   background: radial-gradient(ellipse at bottom, #00d5ffc8 -15%, #090979 75%);
   backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

}

.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  overflow: hidden;
  pointer-events: none; /* permite clics a través */
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  animation: twinkle 2s infinite ease-in-out;
  border-radius: 50%;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 2;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

/* Personalización individual */
.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 10s;
  animation-duration: 12s;

}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 5.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}

.star:nth-child(5) {
  top: 0;
  right: -1000px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.2s;
}

.layout-container {
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-content:flex-start;
  justify-content: center;
  align-items: stretch;
  padding: 0.6rem;
  position: relative;
  border-radius: 5px;
  z-index: 10;
}

.gap-1 {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  border-bottom: #f26411e0 dotted 0.05rem;
}

.custom-table-wrapper {
  width: 100dvw;
  padding: 0.2rem;
  border-radius: 12px;
  background-color: #fffffff0; /* Azul grisáceo profundo */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
  overflow-x: auto;
  border: 1px solid #3ae3d9; /* Acento turquesa elegante */
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  margin: 0.5rem 0;
  z-index: 10;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  color: #09094e;
  table-layout: fixed;

}

.custom-table thead {
  background-color: #24283b;
  line-height: 1.1; /* Reduce altura */
  font-size: clamp(0.75rem, 2vw, 0.95rem); /* Ajuste fluido de tamaño de texto */

}

.custom-table th {
  padding: 0.5rem 0.3rem; /* Menos espacio */
  white-space: nowrap;    /* Evita salto de línea si no desea multirenglón */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}

.custom-table td {
  text-transform: uppercase;
  font-size: 0.68rem;
}

.custom-table th,
.custom-table td {
  padding: 0.3rem 0.3rem;
  text-align: center;
  /* border-bottom: 1px solid #2e3247; */


  word-wrap: break-word;
}

.custom-table th {
  color: #f2f2f2;
  font-weight: 600;
  background-color: #2f354d;
  transition: background-color 0.3s;
  cursor: pointer;
}

.custom-table th:hover {
  background-color: #3a405e;
  border-radius: 6px;
}

.custom-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.04);
  transition: background 0.3s;
  border-radius: 8px;
}



/* Botones con diseño elegante */
.custom-btn {
  background-color: #3ae3d9;
  color: #1b1e2b;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 20px;
  font-size: 0.85rem;
  margin: 0 0.3rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #23c9bf;
  color: #ffffff;
}

/* Mobile-first ajustes */
@media (max-width: 768px) {
  .custom-table-wrapper {
    padding: 0.75rem;
  }

  .custom-table th,
  .custom-table td {
    font-size: 0.85rem;
    padding: 0.3rem 0.3rem;
  }

  .custom-btn {
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
  }
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f5f8fa;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.custom-table tbody tr:hover {
  background-color: #051e2f;
  color: #ffffff;
  box-shadow: inset 0 0 0 9999px rgba(58, 227, 217, 0.05);
  transition: background-color 0.3s ease;
  cursor: pointer;

}

.table-button {
  border-radius: 4px;
  margin: 0.1rem;
  padding: 0.2rem;
  font-size: x-small
}

.table-button svg {
  width: 1rem;
  height: 1rem;
}

/* Contenedor de búsqueda */
.search-container {
  width: 95dvw;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #673ab761;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
}

input::placeholder {
  color: #888;
  text-transform:lowercase;
  font-size: 0.6rem;
}

/* Campos de entrada */
.search-input {

  font-size: 0.75rem;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  min-width: 110px;
  transition: all 0.2s ease;
}



.search-input:focus {
  border-color: #09f7c0;
  box-shadow: 0 0 4px rgba(9, 247, 192, 0.25);
  outline: none;

  font-size: 0.85rem;
}

/* Botones base */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  white-space: nowrap;
  min-width: 120px;
  transition: all 0.2s ease-in-out;
}

/* Icono en botón */
.btn span {
  margin-right: 0.4rem;
  display: inline-block;
}

/* Colores personalizados */
.btn-submit {
  background-color: #0b2932;
  color: #09f7c0;
}

.btn-submit:hover {
  background-color: #09f7c0;
  color: #0b2932;
  border: 1px solid #0b2932;
}

.btn-delete {
  background-color: #0b2932;
  color: #f4b857;
}

.btn-delete:hover {
  background-color: #f4b857;
  color: #0b2932;
  border: 1px solid #0b2932;
}

.btn-create {
  background-color: #0b2932;
  color: #85c0e0;
}

.btn-create:hover {
  background-color: #85c0e0;
  color: #0b2932;
  border: 1px solid #0b2932;
}

/* Responsividad extrema */
@media (max-width: 600px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input{
    padding: 0.25rem 0.1rem;
  }


  .search-input,
  .btn {
    width: 100%;
  }
}
/* Contenedores de botones */
.div-btn-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 4px;
  border-radius: 4px;
  width: 90dvw

}

.div-btn-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 4px;
  border-radius: 4px;
  width: auto;
  transform: scale(0.9);
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 50, 0.7); /* azul medianoche translúcido */
  z-index: 1000;
}

.modal-detalle-paciente {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  border: 1px solid #e0e0e0;
}

.modal-content {
  background-color: #001f3f; /* azul medianoche sólido */
  padding: 1rem;
  border-radius: 10px;
  width: 90dvw;
  max-height: 85dvh;
  overflow-y: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Versión adaptativa para pantallas más grandes */
@media (min-width: 768px) {
  .modal-content {
    width: 60dvw;
  }
}

@media (min-width: 1024px) {
  .modal-content {
    width: 45dvw;
  }
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.close-modal:hover {
  color: #ff6666;
}

.img-shadow {
  filter: drop-shadow( 2px 2px 1px  rgba(0, 0, 0, 0.401));
}

/* Define la animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  10% {
    transform: scale(1.15); /* Primer latido (rápido y fuerte) */
  }
  20% {
    transform: scale(1); /* Vuelve rápidamente al tamaño original */
  }
  30% {
    transform: scale(1.2); /* Segundo latido (más suave que el primero) */
  }
  40% {
    transform: scale(1); /* Vuelve nuevamente al tamaño original */
  }
  100% {
    transform: scale(
      1
    ); /* Mantiene el tamaño original para el resto del tiempo */
  }
}

.beat {
  animation: pulse 1.45s infinite;
  filter: drop-shadow( 0px 6px 6px  #f20606f4) drop-shadow( 0px 2px 10px  #f3efef96);
}


.ghosteado{
  color: #fafafa6e;

}

.bg-ghost{
  opacity: none !important;
  color: var(--air-force-blue);
  border-radius: 10px;
  animation: fog-move 10s linear infinite;
  filter: drop-shadow( 0px 6px 6px  #faf1f156) drop-shadow( 0px 2px 10px  #67676896);
}

tr:hover .bg-ghost {
  color: var(--white);
  filter: drop-shadow( 0px 6px 6px  #2b2b2b56) drop-shadow( 0px 2px 10px  #b1b1b296);
}

/* Animación de la niebla */
@keyframes fog-move {
  0% {
    transform: translateX(-15%) translateY(-15%) scale(1.1);
  }
  50% {
    transform: translateX(15%) translateY(15%) scale(1.2);
  }
  100% {
    transform: translateX(-15%) translateY(-15%) scale(1.1);
  }
}
